<div class="container">

  <ul>
      <li><%= link_to("ログイン情報","/users/#{@user.id}") %></li>
      <li><%= link_to("プロフィール","/users/#{@user.id}/account",class:"active") %></li>
  </ul>

  <div class="account">
    <div class="show_box">

      <h3>プロフィール</h3>

      <%= form_tag("/users/create") do %>
        <div class="show_container">

          <hr size="1px" color="#e7e7e7">
        
          <label for="">画像</label>
          <p>必須</p>
          <input  name="img" type="text" class="create_input" value="#{@user.img}">

          <hr size="1px" color="#e7e7e7">
        
          <label for="">ユーザー名</label>
          <p>必須</p>
          <input  name="name" type="text" class="create_input" value="#{@user.name}">


          <hr size="1px" color="#e7e7e7">


          <label for="">自己紹介</label>
          <p>必須</p>
          <input  name="introduction" type="text" class="create_input" value="#{@user.introduction}">


          <hr size="1px" color="#e7e7e7">
        </div>

          <div class="create_form">
          <input type="submit" value="更新" class="create_btn">
      <% end %>
  </div>
  </div>
</div>

</div>