<div class="users_show">
    <div class="show_box">

        <h1>ログイン情報編集</h1>

      <%= form_tag("/users/#{@user.id}/update") do %>
        <div>
            <hr size="1px" color="#bbb">
            <div class="show_pass">
                <h3>メールアドレス</h3>
                <input  name="email" type="text" class="create_input" value="<%= @user.email %>">
            </div>
            <hr size="1px" color="#bbb">
            <div class="show_pass">
                <h3>パスワード</h3>
                <input  name="pass" type="text" class="create_input" value="<%= @user.pass %>">
            </div>
            <hr size="1px" color="#bbb">
        </div>
        <input type="submit" value="編集" class="create_btn">
        <% end %>
    </div>
</div>