<div class="edit_container">
    
    <ul>
        <li><%= link_to("アカウント","/users/show",class:"active") %></li>
        <li><%= link_to("プロフィール",profile_edit_path) %></li>
    </ul>

    <div class="profile_container">
        <div class="profile_box">

            <h2>アカウント編集</h2>


            <div class="show_container">
                <hr size="1px" color="#e7e7e7">
                <div class="show_pass">
                    <h4>メールアドレス</h4>
                    <p><%= current_user.email %></p>
                </div>
                <hr size="1px" color="#e7e7e7">
                <div class="show_pass">
                    <h4>パスワード</h4>
                    <p>＊＊＊＊＊＊</p>
                </div>
                <hr size="1px" color="#e7e7e7">
            </div>

            <div class="edit_btn">
                <%= link_to("編集",edit_user_registration_path)%>
            </div>
        </div>
    </div>
</div>