<div class="head">
  <div class="top_container">
    <h5>Ayabnbで、旅をもっと身近にしよう</h5>
    <label for="site-search">エリア</label><br>
    <div class="sarch">
    <form id="form1" action="/" method="get">
    <input type=”submit” name="area" placeholder=" 東京"><br>
    <button>探す</button></form>

    
    </div>
  </div>



</div>
