/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0;
  }
  
  header,footer{
    background-color: #000000;
    color: #ffffff;
    margin: 0;
  }
  
  header{
    display: flex;
  }
  
  .img{
    height: 40px;
    display: flex;
    margin-left: 50px;
  }
  
  .header_left{
    padding: 10px 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form1{
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
 }
  
  .index_input{
    width: 200px;
    height: 30px;
    margin-left: 10px;
  }

  .header_right{
    margin: 0 0 0 auto;
  }
  
  .header_right ul{
    list-style: none;
    display: flex;
    margin-left: auto;
  }
  
  .header_right a{
    height: 50px;
    width: 100px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
    transition: 0.3s;
    text-decoration: none;
    color: #000000;
  }
  
  
  .header_right a:hover{
    opacity: .5;
  }
  









 footer p{
   text-align: center;
   font-size: 12px;
   padding: 20px 0 20px 0;
   margin: 0;
  }
  
  footer span{
    font-size: 20px;
    vertical-align: middle;
  }



  