/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0;
  }
  
  header,footer{
    background-color: #000000;
    color: #ffffff;
    margin: 0;
  }
  
  header img{
    width: 150px;
    padding-right: 30px
 }

 .header_left{
  margin-left: 50px;   
  padding: 15px 0 10px;
  display: flex;
  flex-wrap: nowrap; 
 }

 .form1{
   margin-left: 10px;
}
input{
   width: 200px;
   height: 30px;
 }















 footer p{
   text-align: center;
   font-size: 12px;
   padding: 20px 0 20px 0;
   margin: 0;
  }
  
  footer span{
    font-size: 20px;
    vertical-align: middle;
  }
