// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.error_message{
  list-style: none;
  color: tomato;
  font-size: 12px;
}

.error_message ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}