// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.room_index_view{
  padding: 50px;
}

.room_index_img{
  width: 100%;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
}

.room_show{
  padding: 50px;
}

.room_show > h1{
  padding-bottom: 30px;
}

.room_show_img{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.room_show_name{
  display: inline-table;
  padding-left: 30px;
}

.room_show_container > form{
  height: 500px;
  padding-top: 50px;
}
