// Place all the styles related to the room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.head{
    background-image: url(https://www.hankyu-travel.com/attending/air/images/2017/rome_EBP13-74087D.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-left: 100px;
    align-items: center;
    z-index: -10;
  }
  
  .top_container{
    // height: 200px;
    // width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .top_container h3{
    margin: 0;  
    padding-bottom: 30px;
  }
  .top_container {
    padding: 20px; 
  }
  
  .top_container label{
    font-size: 13px;
  }
  
  .top_container input,button{
    height: 35px;
    margin: 10px 0;
  }
  
  .top_container input{
    width: 370px;
    border: 1px solid; 
    border-color: #CED4D9;
    border-radius: 3px;
    padding-left: 10px;
  }
  
  .top_container button{
    background-color: #4B8FE2;
    color: #ffffff;
    border: none;
    width: 384px;
    border-radius: 3px;
  }
  
  .sarch{
    text-align: center;
  }

  