// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// sign up , login

input {
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    padding: 3px;
}
textarea {
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    padding: 8px;
}

.create{
    height: auto;
    width: 500px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 5px .1px rgba(0, 0, 0, .1);
    padding:  40px 10px;
    margin: 30px auto;
}

.create > p {
    font-size: 20px;
    margin: 0 0 20px;
}

.create_form{
    text-align: center;
    display: inline-block;
}

.create_input{
    width: 280px;
    height: 30px;
    border: 1px solid rgb(211, 208, 208);
    border-radius: 5px;
    padding-left: 10px;
}

// .side{
//     display: flex;
//     margin: 10px 0;
// }

.create_form p{
    height: 28px;
    width: 40px;
    background-color: #FF7068;
    line-height: 28px;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    margin: 4px 20px 4px 0;
}

.create_btn{
    background-color: #4B8FE2;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    margin: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: .2s;
    margin: 30px 0;
}

.create_btn:hover{
    opacity: .8;
}

.login{
    color: #4B8FE2;
    text-decoration: none;
    font-size: 15px;
}

.signup_field{
    display: flex;
    width: 400px;
    margin: 0 auto;
}

.signup_textfield{
    width: 300px;
    height: 30px;
    padding-left: 10px;
    margin: 10px 0;
}

.create em{
    font-size: 12px;
    align-items: center;
}

.signup_checkbox_field{
    text-align: center;
    margin: 10px 0;
}

.signup_checkbox_text{
    font-size: 15px;;
}

.create_link{
    color: #4B8FE2;
    text-decoration: none;
}

// == prorfile_sidemenu ==

.edit_container ul {
    width: 200px;
    // margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
    border-right: 1px solid #e7e7e7;
}

.edit_container a {
    display: block;
    margin: 20px 20px;
    padding: 10px 0;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.edit_container li a.active {
    color: #4B8FE2;
    border-right: solid 2px #4B8FE2;
}
.edit_container li a:hover:not(.active) {
    color: #4B8FE2;
}

// ==== users/edit ボックス====

.edit_container{
    display: flex;
    background-color: #f5f8f9;
    margin: 0;
}

.profile_container{
    margin: 30px auto;
}

.profile_box{
    border: none;
    background-color: #fff;
    padding: 30px 40px;
    box-shadow: 0px 0px 10px #b5b5b5;
    width: 800px;
}

// == users/show ==

.profile_box hr {
    margin: 20px 0;
}

.show_pass h4{
    display: inline-block;
    width: 200px;
}

.show_pass p{
    display: inline-block;
}

// == edit,backボタン ==

.edit_btn > a {
    color: #fff;
    text-decoration: none;
    background-color: #4B8FE2;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    transition: .2s;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-size: 15px;
}

.edit_btn a:hover{
    opacity: .8;
}

.back_btn > a{
    font-size: 13px;
    margin: 10px auto;
    width: 30px;
    text-align: center;
}

.actions  {
    text-align: center;
}

.actions input {
    font-size: 15px;
    margin: 20px 0;
    color: #fff;
    text-decoration: none;
    padding: 5px 100px;
    background-color: #4B8FE2;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    transition: .2s;
    border: none;
    cursor: pointer;
}

.actions input:hover{
    opacity: .8;
}


//  == profile img ==

.icon{
    height: 100px;
    width: 100px;   
    margin-left: 20px; 
}


// == edit form ==

.edit_field{
    display: flex;
    width: 700px;
    margin: 0 auto;
}

.edit_field i{
    display: flex;
    font-size: 12px;
    align-items: center;
}

.profile_label{
    width: 150px;
    height: 30px;
    line-height: 30px; 
    font-size: 15px;
    margin: auto 0;
    text-align: center;
}

.profile_filefield{
    width: 300px;
    height: 30px;
    line-height: 30px; 
    font-size: 15px;
    margin: auto 0;
    text-align: center;
}

.profile_textfield{
    width: 500px;
    height: 30px;
    padding-left: 10px;
}

.profile_textarea{
    width: 500px;
    height: 100px;
    padding-left: 10px;
    margin: 20px 0;
}

.errormesse{
    color: #FF7068;
    font-size: 11px;
}